<%= form_with(model: test_model, local: true) do |form| %>
  <% if test_model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(test_model.errors.count, "error") %> prohibited this test_model from being saved:</h2>

      <ul>
      <% test_model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.file_field :image, webkitdirectory: "webkitdirectory", mozdirectory: "mozdirectory", msdirectory: "msdirectory", odirectory: "odirectory", directory: "directory", multiple: "multiple" %>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
